.main-page-frame{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.main-page-frame-context{
    width: 981px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.main-page-frame-context-img img{
    width: 981px;
}
.main-page-frame-context-img-background{
    width: 976px;
    height: 135px;
    background: linear-gradient(118.69deg, #02D3C6 12.46%, #02BBD3 67.69%);
    border: 1px solid #F2F2F2;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin-top: 24px;
}

.main-page-frame-context-price-card{
    width: 981px;
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-items: center;
    /* margin: 12px; */
}