.mobbile-blue-button button{
    background: #02BBD3;
    border: 1px solid #00BBD3;
    border-radius: 4px;
    height: 39px;
    width: 245.73px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.mobbile-white-button button{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    height: 39px;
    width: 245.73px;
    color: #324D59;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.mobbile-white-blue-button button{
    background: #FFFFFF;
    border: 1px solid #02BBD3;
    border-radius: 3px;
    height: 39px;
    width: 245.73px;
    color: #02BBD3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.mobbile-green-button button{
    background: rgba(111, 207, 151, 0.2);
    border: 0px solid rgba(111, 207, 151, 0.2);
    border-radius: 4px;
    height: 39px;
    width: 245.73px;
    color: #27AE60;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}